<div class="componente">
    <ul>
        <li><a routerLink="FirstComponent">FirstComponent</a></li>
        <li><a routerLink="ParentData">ParentData</a></li>
        <li><a routerLink="Diretivas">Diretivas</a></li>
        <li><a routerLink="IfRender">IfRender</a></li>
        <li><a routerLink="Eventos">Eventos</a></li>
        <li><a routerLink="Emitter">Emitter</a></li>
        <li><a routerLink="ListReder">ListReder</a></li>
        <li><a routerLink="Pipes">Pipes</a></li>
        <li><a routerLink="TwoWayBinding">TwoWayBinding</a>
        </li>
    </ul>
</div>