*{
  padding: 0;
  margin: 0;
}
:last-child{
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.componente{
  border: 1px solid red;
  background-color: rgb(199, 199, 199);
  max-width: 800px;
  margin-inline: auto;
}
